{% extends 'base.html.twig' %}

{% block body %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <h1 class="mb-4">Produit ID : {{ product.id }}</h1>
                <ul class="list-group">
                    <li class="list-group-item">Nom: {{ product.name }}</li>
                    <li class="list-group-item">Prix: {{ product.price }}</li>
                    <li class="list-group-item">Quantite: {{ product.quantity }}</li>
                    <li class="list-group-item">Description: {{ product.description }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
